

 <link rel="stylesheet" type="text/css" href="/css/main.css">
<div class="content">
  <main class="">
    <div id="container" class="mdl-grid mdl-shadow--2dp" >


      {% for item in items %}
    	<div id="{{item.id}}" class="mdl-card mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-shadow--4dp" onClick="unzoom(this)">
        <div id="image">
          <img src="{{item.imgurl}}" width="320" height="320" alt="" style="padding:5%;"> </img>
        </div>
        <div class="mdl-card__title">
          <h1 class="mdl-card__title-text">{{item.name}}</h1>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <div id="text">
            <label class="mdl-card__supporting-text" >{{item.description}}</label>
          </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a id="{{item.id}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" onClick="doItemClick(this)">{{item.prix}} €</a>

        </div>
    	</div>
      {% endfor %}
    </div>
  </main>
</div>